# Ignore everything
*

# Allow specific files and directories
!.gitignore
!CHANGELOG.md
!index.js
!LICENSE
!package.json
!README.md

# Allow everything inside these directories
!bin/
!bin/**
!helpers/
!helpers/**
!properties/
!properties/**
!settings/
!settings/**
!utils/
!utils/**

# Ignore VS Code Files
.vscode
*.code-workspace

# Ignore Initial Release Script
bin/init.sh